.blog-container {
	display: grid;
	grid-template-columns: 540px;
    padding: 0.5rem;
    margin-left: 15px;
    background-color: whitesmoke;
    animation: widen 0.5s ease;
    border-radius: 10px;
}

.postbox-peek {
	width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.blog-show-title{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: sans-serif;
}

.blog-show-avatar {
    height: 70px;
    width: 70px;
    background-color: #73b7d6;
    border-radius: 3px;
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: sans-serif;
   
}



img {
    cursor: pointer;
}