.blog-container {
	display: grid;
	grid-template-columns: 540px;
    padding: 0.5rem;
    margin-left: 15px;
    background-color: whitesmoke;
    animation: widen 0.5s ease;
    border-radius: 10px;
}

.postbox-peek {
	width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.blog-show-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.blog-1-avatar {
    height: 50px;
    width: 50px;
    background-color: #73b7d6;
    border-radius: 3px;
    position: sticky;
    top: 70px;
    margin-right: 20px
}

img {
    cursor: pointer;
}